<div class="container py-4">
  <h3>Top rated movies</h3>
  <div class="row">
    <% @top_rated.each do |movie| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="movie-card p-2 my-4">
          <p><%= movie['title'] %></p>
          <p><%= movie['overview'] %></p>
          <% if movie['release_date'].present? %>
            <p>(<%= Date.parse(movie['release_date']).year %>)</p>
          <% end %>
          <% if movie['poster_path'].present? %>
            <%= image_tag "https://image.tmdb.org/t/p/w154/#{movie['poster_path']}" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <h3>Browse movies</h3>
  <form action="/">
    <input type="text" name="movie" placeholder="Search for a movie..." class="w-100 p-2">
  </form>
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="movie-card p-2 my-4">
          <p><%= movie['title'] %></p>
          <p><%= movie['overview'] %></p>
          <% if movie['release_date'].present? %>
            <p>(<%= Date.parse(movie['release_date']).year %>)</p>
          <% end %>
          <% if movie['poster_path'].present? %>
            <%= image_tag "https://image.tmdb.org/t/p/w154/#{movie['poster_path']}" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
