<div class="container">
  <%= image_tag "logo.png", class: "logo" %>
  <h2>Top rated movies</h2>
  <div class="card-top-container">
    <% @top_rated.each do |movie| %>
      <div class="card-top" style="background-image: url('https://image.tmdb.org/t/p/w500/<%= movie['poster_path'] %>')">
        <h4><%= movie['title'] %></h4>
      </div>
    <% end %>
  </div>

  <h2>Browse movies</h2>
  <form class="search" action="/">
    <input type="text" name="movie" class="search-input" placeholder="Search for a movie..." />
    <input type="submit" value="Search" class="btn btn-flat">
  </form>

  <div class="card-movie-container">
    <% @movies.each do |movie| %>
      <div class="card-movie">
        <%= image_tag "https://image.tmdb.org/t/p/w500/#{movie['poster_path']}" %>
        <div class="card-movie-infos">
          <div>
            <h2><%= movie['title'] %></h2>
            <p><%= truncate(movie['overview'], length: 80) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

