<div class="container">
  <%= image_tag "logo.png", class: "logo" %>
  <form class="search" action="/">
    <input type="text" name="movie" class="search-input" placeholder="Search for a movie..." value="<%= params[:movie] %>" autofocus/>
  </form>

  <div class="card-movie-container">
    <% @movies.each do |movie| %>
      <div class="card-movie">
        <%= image_tag movie.poster_url %>
        <div class="card-movie-infos">
          <h2><%= movie.title %></h2>
          <p><%= truncate(movie.overview, length: 80) %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="footer">
    <p>Made with ❤️ to join <a href="https://www.lewagon.com/">Le Wagon Coding Bootcamp</a>.</p>
    <p>Powered by <a href="https://www.themoviedb.org/">TMDB.</a></p>
  </div>
</div>

