<div class="banner" style="background-image: url(<%= image_path 'background.jpg' %>)">
  <div class="container">
    <h1>Awesome Movie Search</h1>
    <p>Awesome app build by Arthur Littmann, to prep for the Le Wagon.</p>
    <a href="#search" class="button">Look for a Movie!</a>
  </div>
</div>


<div class="container" id="search">
  <form class="search" action="/">
    <input type="text" name="movie" class="search-input" placeholder="Search for a movie..." value="<%= params[:movie] %>" autofocus/>
  </form>

  <div class="card-movie-container">
    <% @movies.each do |movie| %>
      <div class="card-movie" id="movie<%= movie.id %>">
        <%= image_tag movie.poster_url %>
        <div class="card-movie-infos">
          <h2><%= movie.title %></h2>
          <p><%= movie.short_overview %></p>
          <i class="far fa-heart like-btn"></i>
        </div>
      </div>
    <% end %>
  </div>

</div>
<div class="footer">
  <div class="container">
    <p>Made with ❤️ to join <a href="https://www.lewagon.com/">Le Wagon Coding Bootcamp</a>.</p>
    <p>Powered by <a href="https://www.themoviedb.org/">TMDB.</a></p>
  </div>
</div>

<script>
  const movies = document.querySelectorAll('.card-movie');

  movies.forEach((movie) => {
    const likeButton = movie.querySelector('.like-btn');

    if (localStorage.getItem(movie.id) === 'favorite') {
      likeButton.classList.remove('far');
      likeButton.classList.add('fas');
      likeButton.classList.add('active');
    }

    likeButton.addEventListener('click', (event) => {
      if (event.target.classList.contains('active')) {
        localStorage.removeItem(movie.id)
      } else {
        localStorage.setItem(movie.id, 'favorite')
      }
      event.target.classList.toggle('far');
      event.target.classList.toggle('fas');
      event.target.classList.toggle('active');
    });
  })
  const likeButtons = document.querySelectorAll('.like-btn');
  likeButtons.forEach((btn) => {
    btn
  })
</script>
